@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-zinc-300 font-sans antialiased selection:bg-brand/30 selection:text-white;
  }
}

/* Custom minimal scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full border-[2px] border-solid border-background;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-700;
}
